
@{
    ViewBag.Title = "Error";
}
<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <title>出错了</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
    <meta name="author" content="admui.com">
    <!-- 360浏览器默认使用Webkit内核 -->
    <meta name="renderer" content="webkit">
    <!-- 禁止搜索引擎抓取 -->
    <meta name="robots" content="nofollow">
    <!-- 禁止百度SiteAPP转码 -->
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="http://cdn.admui.com/demo/iframe/1.2.0/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="http://cdn.admui.com/demo/iframe/1.2.0/images/apple-touch-icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Admui">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="http://cdn.admui.com/demo/iframe/1.2.0/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="http://cdn.admui.com/demo/iframe/1.2.0/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">

    <!--[if lte IE 9]>
    <meta http-equiv="refresh" content="0; url='http://www.admui.com/ie/'" />
    <![endif]-->
    <!--[if lt IE 10]>
    <script src="http://cdn.admui.com/demo/iframe/1.2.0/vendor/media-match/media.match.min.js"></script>
    <script src="http://cdn.admui.com/demo/iframe/1.2.0/vendor/respond/respond.min.js"></script>
    <![endif]-->
    <!-- 样式 -->
    <link rel="stylesheet" href="http://cdn.admui.com/demo/iframe/1.2.0/themes/classic/global/css/bootstrap.css">
    <link rel="stylesheet" href="http://cdn.admui.com/demo/iframe/1.2.0/themes/classic/base/css/site.css" id="admui-siteStyle">
    <link rel="stylesheet" href="http://cdn.admui.com/demo/iframe/1.2.0/css/errors.css">
</head>
<body class="page-errors layout-full">
    <div class="page vertical-align text-center animation-fade page-error">
        <div class="page-content vertical-align-middle">
            <header>
                <h1 class="animation-slide-top">200</h1>
            </header>
            <button class="btn btn-outline btn-primary btn-round" id="closeTab" href="javascript:;">关闭当前页</button>
        </div>
    </div>
    <script src="http://cdn.admui.com/demo/iframe/1.2.0/js/error.js"></script>
</body>
</html>